.table{
	border-collapse: collapse;
	text-align: center;

}
.table td, th{
	border: 1px solid grey;
	padding: 4px;
}

.edit-table {
	border-collapse: collapse;
	text-align: center;
	margin-top: 20px; /* Доданий відступ для таблиці редагування */
}

.edit-table td, .edit-table th {
	border: 1px solid grey;
	padding: 4px;
}