body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	color: #333;
}

.nazva, .cina {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.back-link {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
	color: #007bff;
}

.coments {
	background-color: #fff;
	padding: 20px;
}

.formCreate {
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
}

h3 {
	color: #333;
}

.styleInput {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.button {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

.button:hover {
	background-color: #0056b3;
}

.coment {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.coment p {
	margin: 0;
}

