body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #3498db;
	color: #fff;
	text-align: center;
	padding: 1em;
}

#books {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;
}

.book {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 0.5em;
	padding: 1em;
	max-width: 200px;
	text-align: center;
}

.book img {
	max-width: 100%;
	height: auto;
}

.main-container {
  text-align: center;
}

h1 {
  margin-top: 50px; 
}



#books {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.book {
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
	max-width: 200px;
}

button {
	font-size: 16px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: #45a049;
}

.navigation-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.navigation-container button {
	margin: 0;
}

.arrow {
	font-size: 20px;
	margin: 0 10px;
}


.form{
	display: flex;
	flex-direction: column;
}
.form *{
margin: 5px;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.tovar{
	width: 100px;
	border: 2px outset grey;
	margin: 6px;
}

