body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  color: white;
  margin: 0 10px;
}

.search-form {
  display: flex; 
  align-items: center; 
  margin: 14px 16px;
}

#search-box {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.search-form button {
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-form button i {
  color: white;
}

.active{
	background-color: red;
}